apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name }}
  labels:
    {{- include "ala-alerts.labels" . | nindent 4 }}
type: Opaque
data:
  alerts-config.yml: |
    {{- tpl (.Files.Get "config/alerts-config.yml") . | b64enc | nindent 4 }}