.queryActions {
    padding:20px;
}

#userFrequency {
    width:auto;
}

#customQueriesHdr {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.icon {
    opacity:0.6;
    filter:alpha(opacity=60);
}

#content .btn-danger:hover, #content .btn-danger:focus {
    color: #fff;
}

#content h3 {
    font-weight: 500;
}

#content h3 select {
    font-size: 18px;
}