.nav { padding-bottom: 20px;}

table { border-bottom: none; width:900px; }

table tr { border-bottom: 1px solid #CCC; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }
.switch input { display: none; }

.switch { margin-top: 10px; }

.queryDescription { width: 700px; }
.queryActions { width:200px; text-align: left;}


.button {
    line-height: 30px;
    padding: 7px 15px;
    display: inline;
    background: #777 url(button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    }
.button:hover {
    background-position: 0 center;
    }
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 7px 15px;
    }
.button.red { background-color: #e50000; color: white; text-decoration: none; }

.button a { text-decoration: none; color: #FFF; }