---
# mail.enabled: true will send email via a mail server depending on the mail.ses.enabled

# Set mail.ses.enabled true will use AWS SES, it requires the AWS credentials to be set in the environment variables
# Set false will use the default grails mail plugin, we need to config the mail server and port in grails.mail
# In dev, email will be posted to Postie docker container, which can be accessed via http://localhost:3000

mail:
    enabled: true
    ses:
        enabled: false
    details:
        sender: "alerts@ala.org.au"
        alertAddressTitle: "Atlas alerts"
        infoSender: "alerts@ala.org.au"
        infoAddressTitle: "Atlas of Living Australia"
        defaultResourceName: "Atlas of Living Australia"
grails:
    #default mail service
    mail:
        port: 2525
        server: localhost
    profile: web
    cache:
        clearAtStartup: true
        ehcache:
            ehcacheXmlLocation: classpath:ehcache3.xml
            lockTimeout: 200
    codegen:
        defaultPackage: au.org.au.alerts
    spring:
        transactionManagement:
            proxies: false
    gorm:
        # Whether to autowire entities.
        # Disabled by default for performance reasons.
        autowire: false
        reactor:
            # Whether to translate GORM events into Reactor events
            # Disabled by default for performance reasons
            events: false
        default:
            mapping:
                autowire: true
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    config:
        import: "optional:file:/data/alerts/config/alerts-config.yml"
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false
# Spring Actuator Endpoints are Disabled by Default
    jmx:
        unique-names: true
management:
    endpoints:
        enabled-by-default: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
    plugin:
        awssdk:
            region: ap-southeast-2
#            s3:
#                # accessKey:  # Not required on EC2 deployments
#                # secretKey:  # Not required on EC2 deployments
#                bucket: ala-alerts-test
#                profile: comp-ala-developer
---
headerAndFooter:
    baseURL: https://www.ala.org.au/commonui-bs5-2019
    version: 2
skin:
    layout: "ala-main"
    orgNameLong: "Atlas of Living Australia"
    orgNameShort: "ALA"
    orgSupportEmail: support@ala.org.au
privacyPolicy: "https://www.ala.org.au/terms-of-use/privacy-policy/"
siteDefaultLanguage: "en"
customUserAgent: 'alerts/@info.app.version@'

ala:
    baseURL: "https://www.ala.org.au"
    userDetailsURL: "https://auth.ala.org.au/userdetails/userDetails/getUserListFull"
biocacheService:
    baseURL: "https://biocache-ws.ala.org.au/ws"
biocache:
    baseURL: "https://biocache.ala.org.au"
spatial:
    baseURL: "https://spatial.ala.org.au"
collectory:
    baseURL: "https://collections.ala.org.au"
    searchURL: https://biocache.ala.org.au/occurrences/search?q=passer
collectoryService:
    baseURL: "https://collections.ala.org.au/ws"
collection:
    searchURL: "https://collections.ala.org.au/public/show/co13"
    searchTitle: ANIC
lists:
    baseURL: "https://lists.ala.org.au"
speciesPages:
    searchURL: "https://bie.ala.org.au/species/Tiliqua+rugosa"
    searchTitle: Shingle-back
regions:
    searchURL: "https://regions.ala.org.au/states/Australian+Capital+Territory"
    searchTitle: ACT
occurrence:
    searchURL: "https://biocache.ala.org.au/occurrences/search?q=passer"
    searchTitle: occurrence search
userdetails:
    web:
        url: https://auth.ala.org.au/userdetails
useSpeciesListsAlerts: true
useSpatialAlerts: true
useBlogsAlerts: true
useCitizenScienceAlerts: false

biosecurity:
    cronExpression: '0 0 11 ? * THU'
    query:
        template:
            authoritativeList: /occurrences/search?q=species_list_uid:___LISTIDPARAM___&fq=decade:2020&fq=country:Australia&fq=first_loaded_date:[___DATEPARAM___%20TO%20*]&fq=occurrence_date:[___LASTYEARPARAM___%20TO%20*]&sort=first_loaded_date&dir=desc&disableAllQualityFilters=true
            nonAuthoritativeList: /occurrences/search?q=species_list:___LISTIDPARAM___&fq=decade:2020&fq=country:Australia&fq=first_loaded_date:[___DATEPARAM___%20TO%20*]&fq=occurrence_date:[___LASTYEARPARAM___%20TO%20*]&sort=first_loaded_date&dir=desc&disableAllQualityFilters=true
        maxRecords: 500
    moreinfo:
        link: https://www.ala.org.au/blogs-news/ala-helps-to-stop-pests-in-their-tracks/
    # read lga from the given layer
    lga: cl11170
    csv:
        local:
            enabled: false # See environments.development section below where set to true
            directory: /data/alerts/csv
        s3:
            enabled: true
            directory: biosecurity # key prefix
            # bucket: alerts # configured via plugin config `grails.plugin.awssdk.s3.bucket`

    subscriptionsPerPage: 100
    legacy:
        aus: cl927:*
        act: cl927:"Australian Capital Territory" OR cl927:"Jervis Bay Territory"
        sa: cl927:"South Australia (including Coastal Waters)"
        vic: cl927:"Victoria (including Coastal Waters)"
        wa: cl927:"Western Australia (including Coastal Waters)"
        nt: cl927:"Northern Territory (including Coastal Waters)"
        qld: cl927:"Queensland (including Coastal Waters)"
        tas: cl927:"Tasmania (including Coastal Waters)"
        nsw: cl927:"New South Wales (including Coastal Waters)"
        lgaField: cl10923
        shape: cl11033:"Namadgi" OR cl11033:"Tidbinbilla" OR cl11033:"Bimberi"
        #shape: spatialObject:9223660
        eventDateAge: 150
        firstLoadedDateAge: 8

encodeBracketInUrlParam:
    enabled: true

#For Grails
dataSource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driverClassName: ${DB_DRIVER}

    pooled: true
    jmxExport: true

    properties:
        # --- Pool sizing ---
        initialSize: 5
        maxActive: 50
        minIdle: 5
        maxIdle: 20

        # --- CRITICAL: stale connection protection ---
        testOnBorrow: true
        validationQuery: SELECT 1

        testWhileIdle: true
        timeBetweenEvictionRunsMillis: 300000   # 5 min
        minEvictableIdleTimeMillis: 600000      # 10 min

        # --- Abandoned connection cleanup ---
        removeAbandoned: true
        removeAbandonedTimeout: 60
        logAbandoned: true

        # --- JDBC / MySQL ---
        useUnicode: true
        characterEncoding: UTF-8


#For those beans managed by Spring, like Liquibase, Quartz
#Those properties should be defined in an external properties yml file
spring:
    liquibase:
        enabled: true
        change-log: classpath:db/changelog/db.changelog-master.xml
        url: ${DB_URL}
        user: ${DB_USER}
        password: ${DB_PASSWORD}
        driver-class-name: ${DB_DRIVER}

cron:
    daily: '0 30 8 * * ?'
    hourly: '0 48 * * * ?'
    weekly: '0 30 10 ? * MON'
    monthly: '0 15 17 27 * ?'

myannotation:
    enabled: false

webservice:
    jwt: true
    jwt-scopes: "openid users/read"

security:
    cas:
        enabled: false
        adminRole: ROLE_ADMIN
        uriFilterPattern: [ "/","/alaAdmin/*","/testAuth/*","/query/*","/admin/*","/admin/user/*","/admin/user/debug/*","/admin/debug/all","/notification/myAlerts","/notification/changeFrequency","/notification/addMyAlert","/notification/addMyAlert/*","/notification/deleteMyAlert/*","/notification/deleteMyAlert/*","/notification/deleteMyAlertWR/*","/webservice/*","/webservice/createTaxonAlert","/webservice/taxonAlerts","/webservice/createRegionAlert","/webservice/regionAlerts","/webservice/deleteTaxonAlert/*","/webservice/create*","/webservice/createSpeciesGroupRegionAlert","/ws/*","/ws/createTaxonAlert","/ws/taxonAlerts","/ws/createRegionAlert","/ws/regionAlerts","/ws/deleteTaxonAlert/*","/ws/createTaxonRegionAlert","/ws/createSpeciesGroupRegionAlert","/admin/runChecksNow" ]
    oidc:
        enabled: true
        discoveryUri:  https://cognito-idp.ap-southeast-2.amazonaws.com/ap-southeast-2_OOXU9GW39/.well-known/openid-configuration
        scope: openid,profile,email,ala,roles
    # this config is used to check incoming requests to protected APIs (methods protected with @RequireApiKey()) for JWT token in the expected header i.e. "Authorization". `fallbackToLegacyBehaviour` determines whether to check for the legacy API key when JWT is not detected/valid.
    jwt:
        discoveryUri:  https://cognito-idp.ap-southeast-2.amazonaws.com/ap-southeast-2_OOXU9GW39/.well-known/openid-configuration
        enabled: true
        fallbackToLegacyBehaviour: true
    apikey:
        enabled: true
        auth:
            serviceUrl: https://auth-test.ala.org.au/apikey/ws/check/
        check:
            serviceUrl: https://auth-test.ala.org.au/apikey/ws/check?apikey=
        userdetails:
            serviceUrl: https://auth-test.ala.org.au/userdetails/userDetails/

openapi:
    title: Alerts REST services
    description: REST services for interacting with the alerts webapp
    terms: https://www.ala.org.au/terms
    contact:
        name: Support
        email: support@ala.org.au
    license:
        name: Mozilla Public License 1.1
        url: https://www.mozilla.org/en-US/MPL/1.1/
    version: '@info.app.version@'
    cachetimeoutms: 0


environments:
    development:
        grails:
            serverURL: "http://localhost:8080"
            mail:
                host: "localhost"
                port: 2525
            plugin:
                awssdk:
                    region: ap-southeast-2
                    #profile: test-ala-developer
                    s3:
                        bucket: ala-alerts-testing

        security:
            cas:
                appServerName: "http://localhost:8080"
        biosecurity:
            csv:
                local:
                    enabled: true
                s3:
                    enabled: false
        userdetails:
            web:
                url: https://userdetails.test.ala.org.au/
            api:
                url: https://api.test.ala.org.au/userdetails/cognito/
        mail:
            details:
                sender: "alerts-test@ala.org.au"
                alertAddressTitle: "Atlas alerts [Dev]"
                infoAddressTitle: "Atlas of Living Australia [Dev]"
                infoSender: "alerts-test@ala.org.au"
        headerAndFooter:
            baseURL: https://www.test.ala.org.au/commonui-bs5-2019

    test:
        grails:
            serverURL: "http://alerts.test.ala.org.au"
            plugin:
                awssdk:
                    region: ap-southeast-2
                    #profile: test-ala-developer
                    s3:
                        bucket: ala-alerts-testing
        security:
            cas:
                appServerName: "https://auth.test.ala.org.au"
        userdetails:
            web:
                url: https://userdetails.test.ala.org.au/
            api:
                url: https://api.test.ala.org.au/userdetails/cognito/
        mail:
            details:
                sender: "alerts-test@ala.org.au"
                alertAddressTitle: "Atlas alerts [Test]"
                infoAddressTitle: "Atlas of Living Australia [Test]"
                infoSender: "alerts-test@ala.org.au"
    production:
        grails:
            serverURL: "https://auth.ala.org.au/alerts"
            mail:
                host: "localhost"
                port: 25
        security:
            cas:
                appServerName: "https://auth.ala.org.au"
        userdetails:
            web:
                url: https://auth.ala.org.au/userdetails/
            api:
                url: https://api.ala.org.au/userdetails/cognito/